//SET color
$color-white: #FFFFFF;
$color-black: #3E3E3E;
$color-lightOrange: #fff6ef;
$color-tableOrange: #fef6ef;
$color-orange: #ffb03f;
$color-red: #fc5050;
$color-keyGreen: #209455;
$color-skGreen: rgba(32, 148, 85, 0.6);
$color-lightGreen: #23a35e;
$color-mintGreen: #33b795;
$color-lightMintGreen: #71c3a7;
$color-bottomGreen: #34B695;
$color-tableGreen: #e9f8ee;
$color-blue: #2d5b8d;



